.bodyarea{
    width:500px;
    background-color: blueviolet;
    height:800px;
   }
   .turn{
       margin-left:530px;
       margin-top:30px;
       font-size:20px;
       font-size: 30px;
      
   }

   .box{
       border:1px solid blanchedalmond;
      margin-top:-35px;
       width:100px;
       margin-left: 100px;
       background-color: blanchedalmond;
   
       
   }
   .class1{
       font-size: 30px;
       text-align: center;
       font-style: italic;
   }

   .class2{
       width:100px;
       height:50px;
       float:right;
       margin-right:150px;
       margin-top:-35px;
   }

   .class3{
       width:100px;
       height:50px;
       float:right;
       margin-left:250px;
       margin-top:-50px;
       margin-right:20px;
       background-color: solid red;
   }

   .container{
       display:grid;
       grid-template-columns:1fr 1fr 1fr;
       grid-template-rows:  1fr 1fr 1fr;
       grid-gap:5px;
       height:40px;
       margin-left:500px;
       
   }

   .box1{
       background-color:white;
       border: 3px solid black;
       grid-area: 1 / 1 / 1 /1;
       height:80px;
       margin-left:20px;
       margin-top: 50px;
       width:80px;
       background:lawngreen;
       font-size:50px;
       border-radius: 20px 20px 20px 20px;
       cursor:alias;
   
   }
   .box2{
       background-color:white;
       border: 3px solid black;
       grid-area: 2 / 1 / 1 /2;
       height:80px;
       margin-left:10px;
       margin-top: 50px;
       width:80px;
       background:lawngreen;
       font-size:50px;
       border-radius: 20px 20px 20px 20px;
       font-family:sans-serif;
       cursor:alias;
   
   }

   .box3{
       background-color:white;
       border: 3px solid black;
       grid-area: 3 / 1 / 1 /4;
       height:80px;
       margin-left:10px;
       margin-top: 50px;
       width:80px;
       background:lawngreen;
       font-size:50px;
       border-radius: 20px 20px 20px 20px;
       cursor:alias;
       font-family:sans-serif;
   
   }

   .box4{
       background-color:white;
       border: 3px solid black;
       grid-area: 1 / 1 / 1 /1;
       height:80px;
       margin-left:20px;
       margin-top: 20px;
       width:80px;
       background:lawngreen;
       font-size:50px;
       border-radius: 20px 20px 20px 20px;
       cursor:alias;
   
   }

   .box5{
       background-color:white;
       border: 3px solid black;
       grid-area: 2 / 1 / 1 /3;
       height:80px;
       margin-left:10px;
       margin-top: 20px;
       width:80px;
       background:lawngreen;
       font-size:50px;
       border-radius: 20px 20px 20px 20px;
       cursor:alias;
   }
   .box6{
       background-color:white;
       border: 3px solid black;
       grid-area: 3 / 1 / 1 /4;
       height:80px;
       margin-left:10px;
       margin-top: 20px;
       width:80px;
       background:lawngreen;
       font-size:50px;
       border-radius: 20px 20px 20px 20px;
       cursor:alias;
   
   }

   .box7{
       background-color:white;
       border: 3px solid black;
       grid-area: 1 / 1 / 1 /1;
       height:80px;
       margin-left:20px;
       margin-top: 20px;
       width:80px;
       background:lawngreen;
       font-size:50px;
       border-radius: 20px 20px 20px 20px;
       cursor:alias;
   
   }
   
   .box8{
       background-color:white;
       border: 3px solid black;
       grid-area: 2 / 1 / 1 /3;
       height:80px;
       margin-left:10px;
       margin-top: 20px;
       width:80px;
       background:lawngreen;
       font-size:50px;
       border-radius: 20px 20px 20px 20px;
       cursor:alias;
   
   }
   .box9{
       background-color:white;
       border: 3px solid black;
       grid-area: 3 / 1 / 1 /4;
       height:80px;
       margin-left:10px;
       margin-top: 20px;
       width:80px;
       background:lawngreen;
       font-size:50px;
       border-radius: 20px 20px 20px 20px;
       cursor:alias;
   
   }